*{
    margin: 0;
    color: red;
    }
    #container{
        width: 1024px; border: 1px solid blue;
        min-height: 600px;
        margin: 0 auto;
    }
    #banner{background-color: yellow;height: 100px;}
    #menu{background-color:white;}
    #menu li{display: inline-block; width: 120px;background-color: aqua;text-align: center;padding: 5px;}
    #menu li:hover{border-radius: 7px;font-weight: bolder;background-color: bisque;}
    #left{width: 204px; float: left;min-height: 450px;background-color:white ;padding: 5px;}
    #content{width: 800px;float:right;min-height: 450px;background-color: white;padding: 5px;}
    #myfooter{text-align: center;clear: both;background-color:blue;}
    #menu1{background-color :violet;height:10px;}
.h1 .test{
    font-size: 200px;
}
input #seard {
    width: 40px;
}
.policy-row {
    display: flex;
}